@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*header*/
header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
header .content_header {
  display: flex;
  justify-content: center;
  padding: 30px;
}
header .content_header a i {
  font-size: 35px;
  color: white;
}

.icone-bar:hover {
  color: rgb(255, 0, 0);
}

/*home start*/
#home img {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
}
#home .contenar_home {
  width: 86%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
#home .contenar_home .div-left {
  display: flex;
  align-items: end;
  position: absolute;
  top: 80vh;
  left: 100px;
}
#home .contenar_home .div-left .circle-home {
  width: 280px;
  height: 280px;
  border-radius: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1c50e;
}
#home .contenar_home .div-left .circle-home h1 {
  font-size: 7rem;
  font-family: "Montserrat", sans-serif;
}
#home .contenar_home .div-left .circle-home h3 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}
#home .contenar_home .div-right {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}
#home .contenar_home .div-right h1 {
  height: 170px;
  font-size: 8rem;
  font-weight: 700;
  font-family: "Bebas Neue", sans-serif;
  color: white;
}
#home .contenar_home .div-right h5 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  margin-left: 160px;
}

/*home end*/
/*Gift-Voucher start*/
#Gift-Voucher img {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
}
#Gift-Voucher .contenar_Gift-Voucher {
  width: 86%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: end;
}
#Gift-Voucher .contenar_Gift-Voucher div {
  display: flex;
  flex-direction: column;
}
#Gift-Voucher .contenar_Gift-Voucher div h1, #Gift-Voucher .contenar_Gift-Voucher div h2 {
  height: 110px;
  font-size: 6rem;
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
  color: white;
}
#Gift-Voucher .contenar_Gift-Voucher div h2 span {
  color: #f1c50e;
}

/*Gift-Voucher end*/
/*  xl start */
@media (max-width: 1000px) {
  #home .contenar_home .div-right h1 {
    font-size: 7rem;
    font-weight: 500;
    height: 150px;
  }
  #home .contenar_home .div-right h5 {
    font-size: 1.8rem;
    font-weight: 400;
  }
  #home .contenar_home .div-left .circle-home {
    width: 258px;
    height: 258px;
  }
  #home .contenar_home .div-left .circle-home h1 {
    font-size: 6rem;
  }
  #home .contenar_home .div-left .circle-home h3 {
    font-size: 1.8rem;
  }
}
/*  xl end*/
/*  md  start*/
@media (max-width: 790px) {
  #home .contenar_home .div-right h1 {
    font-size: 6rem;
    font-weight: 500;
    height: 110px;
  }
  #home .contenar_home .div-right h5 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  #home .contenar_home {
    width: 95%;
  }
  #home .contenar_home .div-left .circle-home {
    margin-top: 60px;
    width: 200px;
    height: 200px;
  }
  #home .contenar_home .div-left .circle-home h1 {
    font-size: 3rem;
  }
  #home .contenar_home .div-left .circle-home h3 {
    font-size: 1.4rem;
  }
  #Gift-Voucher .contenar_Gift-Voucher div h1, #Gift-Voucher .contenar_Gift-Voucher div h2 {
    height: 80px;
    font-size: 4rem;
    font-weight: 400;
  }
}
/*  md  end*//*# sourceMappingURL=style.css.map */